<!DOCTYPE html>
<html>
<head>
    <title>Список книг</title>
</head>
<body>
    <h1>Поиск и список книг</h1>

    <form method="get" action="">
        <input type="text" name="search_book" value="{{ search_query|default:'' }}" placeholder="Введите название...">
        <button type="submit">Найти</button>
    </form>

    <hr>

    <ul>
        {% for book in page_obj %}
            <li>
                <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a> 
                (👁 {{ book.views_count }})
            </li>
        {% empty %}
            <li>Книг не найдено.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&search_book={{ search_query|default:'' }}">Назад</a>
        {% endif %}

        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search_book={{ search_query|default:'' }}">Вперед</a>
        {% endif %}
    </div>
</body>
</html>